*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
#head{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
    font-size: 50px;
}
.box{
    width: 90%;
    max-width: 600px;
    background-color:yellowgreen;
    height: 100px;
    position: relative;
    left: 30%;
    text-align: center;
    padding-top: 20px;
    border-radius: 30px;
    display: block;
}
#btn1,#btn2{
    width: 240px;
    height: 60px;
    
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 30px;
}
#btn1{
  margin-right: 10px;
  background-color:green;
  color: white;
  cursor: pointer;
}
#btn1:hover{
  background-color: aqua;
  color: black;
}
#btn2{
    background-color: darkblue;
    color: white;
}
#btn2:hover{
    background-color: aqua;
    color: black;
  }

.percentage{
    width: 400px;
    height: 400px;
    background-color: chartreuse;
    position: relative;
    left: 37%;
    display: none;
}
.percentage h1{
    text-align: center;
    font-size: 35px;
    padding-bottom: 30px;
}
.percentage label{
    margin-left: 20px;
    font-size: 30px;
    
}
.percentage #first{
    margin-bottom: 20px;
    padding-right: 48px;
}
.percentage input{
    width: 150px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border: none;
    outline: none;
    margin-top: 10px;
}
.percentage button{
    width: 120px;
    height: 60px;
    font-size: 30px;
    position: relative;
    top: 40px;
    left: 140px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: green;
    color: white;
}
.percentage button:hover{
    background-color: aqua;
    color: black;
}
    p{
    font-size: 23px;
    margin-top: 50px;
    text-align: center;
    /* display: block; */
}
.cgpa{
    width: 400px;
    height: 400px;
    background-color: chartreuse;
    position: relative;
    left: 37%;
    text-align: center;
    display: none;
}
.cgpa h1{
    font-size: 40px;
    padding-top: 10px;
    /* padding-bottom: 80px; */
}
.buttons{
    /* display: ; */
    margin-top: 80px;
}
#ptc{
    width: 280px;
    height: 60px;
    font-size: 25px;
    background-color: green;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 30px;
}
#ptc:hover{
    background-color: aqua;
    color: black;
}
#ctp{
    width: 280px;
    height: 60px;
    font-size: 25px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-top: 20px;
}
#ctp:hover{
    background-color: aqua;
    color: black;
}
.percentageToCGPA{
    margin-top: 10px;
    text-align: center;
    display: none;
}
.percentageToCGPA h2{
    margin-bottom: 40px;
    color: green;
    font-size: 35px;
}
.percentageToCGPA input{
   width: 300px;
   height: 50px;
   border: none;
   outline: none;
   border-radius: 10px;
   text-align: center;
   font-size: 35px;
}
.percentageToCGPA input::placeholder{
    font-size: 25px;
}
.percentageToCGPA #secondText{
    margin-top: 10px;
}
.percentageToCGPA #calculate1{
    margin-top: 10px;
    width: 300px;
   height: 50px;
   border: none;
   outline: none;
   border-radius: 20px;
   text-align: center;
   font-size: 30px;
   background-color: green;
   color: white;
   cursor: pointer;
}
.percentageToCGPA #calculate1:hover{
    background-color: aqua;
    color: black;
}



.CGPAtoPercentage{
    margin-top: 10px;
    text-align: center;
    display: none;
}
.CGPAtoPercentage h2{
    margin-bottom: 40px;
    color: blue;
    font-size: 35px;
}
.CGPAtoPercentage input{
   width: 300px;
   height: 50px;
   border: none;
   outline: none;
   border-radius: 10px;
   text-align: center;
   font-size: 35px;
}
.CGPAtoPercentage input::placeholder{
    font-size: 25px;
}
.CGPAtoPercentage #fourText{
    margin-top: 10px;
}
.CGPAtoPercentage #calculate2{
    margin-top: 10px;
    width: 300px;
   height: 50px;
   border: none;
   outline: none;
   border-radius: 20px;
   text-align: center;
   font-size: 30px;
   background-color: blue;
   color: white;
   cursor: pointer;
}
.CGPAtoPercentage #calculate2:hover{
    background-color: aqua;
    color: black;
}